body {
    background-color: #f3f3ff;
}

.grid-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.grid-item{
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    width: 350px;
    background-color: #f8fffd;
    box-shadow: 5px 5px 20px #bd5798;
}

.image-style{
    width: 300px;
    padding-top: 20px;
}

.text-style{
    text-shadow: 8px 8px 11px #6657bd;
    text-align: center;
    color: #06025b;
    text-decoration: underline;
    padding-bottom: 45px;
}

button{
    all: unset;
    border-radius: 10px;
    background-color: #bd5798;
    color:#f3f3ff;
    width: 140px;
    height: 30px;
}

button:hover{
    background-color: #850f5a;
    color: #f3f3ff;
}